{% extends 'base.html' %}

{% block content %}
<h1>Detail</h1>
{{ review.pk }}
{{ review.user }}
{{ review.title }}
{{ review.content }}
{{ review.movie }}
<a href="{% url 'reviews:index' %}">홈</a>
<a href="{% url 'reviews:update' review.pk %}">수정</a>
<form action="{% url 'reviews:delete' review.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="삭제">
</form>
<hr>
<form action="{% url 'reviews:create_comment' review.pk%}" method="POST">
  {% csrf_token %}
  {{ comment_form.as_p }}
  <input type="submit" value="작성">
</form>
<hr>
{% for comment in comments %}
  {{ comment.user }}
  {{ comment.content }}
  <form action="{% url 'reviews:delete_comment' review.pk comment.pk %}" method="POST">
    {% csrf_token %}
    <input type="submit" value="삭제">
  </form>
{% endfor %}
{% endblock content %}