{% extends 'base.html' %}

{% block content %}
<h1>INDEX</h1>
{% if request.user.is_authenticated %}
<h2><a href="{% url 'accounts:profile' user.pk %}">{{ user }}</a>님 안녕하세요! </h2>
    <form class="text-white" action="{% url 'accounts:logout' %}" method = "POST">
        {% csrf_token %}
        <input class="btn btn-outline-primary" type="submit" value="로그아웃">
    </form>
    <a href="{% url 'accounts:update' %}">수정</a>
    <a href="{% url 'reviews:create' %}">리뷰 작성</a>
{% else %}
    <a href="{% url 'accounts:login' %}">로그인</a>
    <a href="{% url 'accounts:signup' %}">회원가입</a>
{% endif %}

{% for review in reviews %}
    {{ review.pk }}
    {{ review.user.username }}
    {{ review.movie }}
    {{ review.title }}
    <a href="{% url 'reviews:detail' review.pk%}">[더보기]</a>
{% endfor %}
{% endblock content %}